
<div *ngIf="errorMsg !=null " class="alert alert-danger">{{errorMsg }}</div>
<form #userForm="ngForm" (ngSubmit)="onLogin(userForm.form.valid)">
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 alert alert-success">
            <div class="alert alert-warning"><b>Login</b></div>
            <div class="clearer"></div>
            <div class="clearer"></div>
            <div class="row">
                <div class="col-xs-2 col-sm-0 col-md-1">
                    <span class="form-err">
                    </span>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <span class="form-control" style='background-color: transparent;'>
                        User Name
                    </span>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-6 divZIndex">
                    <input type="text" #refName="ngModel" required class="form-control" name="name" [(ngModel)]="model.userName" />
                </div>
                <div *ngIf="userForm.submitted && refName.errors" class="col-xs-2 col-sm-0 col-md-2 alert alert-danger">
                    <div [hidden]="!refName.errors.required">
                        User Name is required
                    </div>
                </div>
            </div>
            <div class="clearer"></div>
            <div class="row">
                <div class="col-xs-2 col-sm-0 col-md-1">
                    <span class="form-err">
                    </span>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3">
                    <span class="form-control" style='background-color: transparent;'>
                        Password
                    </span>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-6 divZIndex">
                    <input type="password" #refPwd="ngModel" required class="form-control" name="pwd" [(ngModel)]="model.password" />
                </div>
                <div *ngIf="userForm.submitted && refPwd.errors" class="col-xs-2 col-sm-0 col-md-2 alert alert-danger">
                    <div [hidden]="!refPwd.errors.required">
                        Password is required
                    </div>
                </div>
            </div>
            <div class="clearer"></div>
            <div class="row">
                <div class="col-xs-2 col-sm-0 col-md-1">
                    <span class="form-err">
                    </span>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3">
                </div>
                <div class="col-xs-6 col-sm-8 col-md-6 divZIndex">
                    <input type="submit" class="btn btn-primary" value="Login"/>                    
                </div>
                <div class="col-xs-2 col-sm-0 col-md-2">
                </div>
            </div>
            <div class="clearer"></div>
            <div class="clearer"></div>
            <div class="clearer"></div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</form>
