
<br /><br />
<div class="alert alert-info" style="text-align:center;">
    <h2>Welcome to Employee Managment System App!</h2>
    <table align="center">
        <tr>
            <td><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;</td>
            <td><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;</td>
            <td><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;</td>
        </tr>
    </table>
    <input type="button" value="View All Employees" class="btn btn-primary" (click)="onView()" />
</div>
